img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column {
  width: 250px;
  float: left;
  margin-left:10px;
  margin-right:10px;
  text-align: center;
  display: grid;
}
.logo {
  float: left;
}